
.app-login__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 80%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    background: white;
}
.logo-derecha {
    flex-grow: 1;
    height: 40px;
    width: 40;
    alt: 40;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.text-central {
    flex-grow: 1;
    height: 90px;
    color: #004D40;
    background: white;
    font-size: 25px;
    font-weight: 600;
    font-family: fontFamilySansation;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo-izquierda {
    flex-grow: 1;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.table-container{
    border-style: double;
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-style: outset;
    font-size: 10px;
    padding: 0.5cm;
    padding-bottom: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    align-items: left;
    grid-template-columns: 10% 40% 10% 10% 30%;
     
}
.logo-izquierda{
    display: flex;
    justify-content: left;
    justify-items: center;
}
.cabecera1{
    display: flex;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: normal;
    color: green;
    font-size: 1.2em;
}
.cabecera2{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-style: oblique;
    color: green;
    font-size: 1em;
}
.titulo{
    grid-column-start: 1;
    grid-column-end: 5;
    background:white;
    color: rgba(40, 65, 120, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}
.item{
    display: flex;
    padding: 10px;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    border-style: ridge;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 5;
}
.ficha {
    width: 100%;
    background: white;
    padding: 0.5cm;
  }
  
