<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-size: 14px; text-align: center;">GOBIERNO AUTÓNOMO MUNICIPAL DE CATACORA</div>
    <div style="font-size: 10px; text-align: center;">Segunda Sección Municipal - Provincia Jose Manuel Pando</div>
    <div style="font-size: 10px; text-align: center;">Ley de Creación 849 de 29 abril de 1986</div>
    <img class="logo-derecha" src="<%= host %>logoCatacora.png">
    <hr style="border-right-color: brown;">
</body>
</html>
